@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer base {
  .hero {
    background: linear-gradient(
      180deg,
      #12181f -13.52%,
      #1b205b 25.43%,
      #2e51ed 76.06%
    );
    isolation: isolate;
    position: relative;
  }
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../public/stack-sheel.svg);
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: cover;
  }
}
