.cards {
  --grid-min: 23rem;
  --grid-gap: var(--space-xs);
  --grid-align: stretch;
  background: linear-gradient(97.03deg, #edf4ff -0.58%, #defffe 92.09%);
  border-radius: 12px;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px;
  color: black;
  padding: 1rem 1.5rem 0 1.5rem;
}
/*
  Solutions
  */
.title span {
  --gradient-text-bg: linear-gradient(78.02deg, #112caf 29.9%, #5cebdf 118.18%);
  font-size: 3vw;
  font-weight: bold;
}

.gradient-text {
  background: var(--gradient-text-bg);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 634px) {
  .title span {
    font-size: 1.65rem;
  }
  .card {
    border-radius: 8px;
    padding: 0.875rem 1rem 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .title span {
    font-size: 1.25rem;
  }
}

.enterprise-banner > div {
  width: 127px;
  height: 76px;
  object-fit: contain;
}
.enterprise-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .enterprise-banner > div {
    width: 90px;
    height: 65px;
  }
}

@media screen and (max-width: 480px) {
  .enterprise-banner > div {
    width: 70px;
    height: 56px;
    object-fit: contain;
  }
}
